@use "vars.sass" as vars
@use "./index.sv.gen" as gen

@use "../catalogItem/catalogItem.module.sass" as catalogItem

$minwidth: vars.$cardMinWidth

$cardMaxWidth: 480px

$breakPoint: vars.$cardsBreakPoint

// card sizes
$minsize: vars.$minsize
$minInnerSize: vars.$minInnerSize
$maxsize: vars.$maxsize

@mixin main
.#{gen.$projectCatalog}
    margin-top: 20px
    padding: 24px var(--sideMargins)
    width: 100%
    max-width: var(--maxWidth)
    min-height: 50vh
    display: grid
    column-gap: var(--sideMargins)
    // overflow: hidden
    // background-color: rgba(vars.$blue8, 0.9)
    // box-shadow: 0px 1px 0px vars.$blue6 inset, 0px -1px 0px vars.$blue6 inset
    // align-items: center
    @media (max-width: $breakPoint)
        grid-template-rows: none
    @media (min-width: $breakPoint + 1px)
        grid-template-columns: 3fr 9fr

.#{gen.$itemArea}
    display: flex
    width: 100%
    flex-wrap: wrap
    justify-content: space-between
    gap: 19px
    position: relative
    cursor: help
    // padding: 0px 3px
    min-height: fit-content
    // margin-bottom: 10px
    & > li
        position: relative
        flex-basis: calc(50% - 10px)
        @media (max-width: vars.$cardsBreakPoint2)
            flex-basis: 100%
            max-width: 420px
            left: 50%
            transform: translateX(-50%)
        // min-width: 220px
        flex-shrink: 0
        flex-grow: 0
        height: fit-content
        // transition: 0.5s
        user-select: none


+catalogItem.main

.#{gen.$sidebar}
    box-sizing: border-box
    width: 100%
    position: relative
    // top: vars.$headerHeight
    height: 100%
    // box-shadow: 3px 5px 2px #00000055, -3px 5px 2px #00000055
    // &:hover
    //     box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.33), -2px 3px 2px rgba(0, 0, 0, 0.33)
    &__showFilterSwitch
        display: flex
        flex-direction: row
        align-items: center
        justify-content: flex-start
        gap: 8px
        position: relative
        user-select: none
        height: 36px
        cursor: pointer
        box-sizing: content-box
        width: 100%
        // margin-left: 4px
        margin-bottom: 4px
        border-bottom: 2px dotted vars.$blue6
        & > svg
            height: inherit
            width: 30px
        @media (min-width: $breakPoint + 1px)
            display: none
        & > span
            display: block
            font-size: 16px
            line-height: 16px
    &__filter
        display: block
        position: relative
        width: 100%
        box-sizing: border-box
        height: 36px
        line-height: 36px
        & > span
            margin-left: 3px
            display: block
            position: absolute
            color: vars.$blue5
            text-shadow: 2px 2px 2px black
        &__input
            box-sizing: border-box
            color: white
            width: 100%
            padding-left: 54px
            outline: 2px dotted vars.$blue6
            &::placeholder
                color: #ffffff55
            &:focus
                outline: 3px dotted vars.$blue3
                box-sizing: border-box
    &__stickytrack
        box-sizing: border-box
        width: 100%
        height: fit-content
        position: sticky
        top: 0px
        //check scroll transition and push this sticky sidebar down. because of header
    &__list
        width: 100%
        display: flex
        flex-direction: column
        position: relative
        // align-items: center
        justify-content: center
        list-style: none
        // padding: 0px 12px 0px 12px
        & > li
            display: block
            height: 32px
            line-height: 32px
            width: 100%
            box-sizing: border-box
            cursor: pointer
            box-shadow: inset 0px -1px 0px vars.$blue4
            text-overflow: ellipsis
            &:hover
                text-shadow: -2px 2px vars.$blue3, 1px -1px white
            &:before
                content: "- "
    &__button-expand-list
        display: block
        width: 100%
        height: 32px
        line-height: 32px
        padding-left: 12px
        color: rgba(white, 0.8)
        cursor: pointer
        &:hover
            text-shadow: -1px 1px vars.$blue3, 1px -1px white
        &--clicked
            // transition: 1.5s
            // color: rgba(white, 0.3)
            // display: none

@media (max-width: $breakPoint)
    #checkbox--filter:not(:checked) ~ * .#{gen.$sidebar}
        & > .#{gen.$sidebar}__stickytrack > *:not([class*='__showFilterSwitch'])
            display: none
        &__showFilterSwitch
            &__text-hide
                display: none
    #checkbox--filter:checked ~ * .#{gen.$sidebar}
        &__showFilterSwitch
            margin-bottom: 2px
            border-bottom: unset
            &__text-show
                display: none

// animation for arrow show more / show less
#checkbox--filter:checked ~ * .#{gen.$sidebar}
    &__showFilterSwitch
        & svg > path
            transition: 0.5s ease
            &:nth-child(1)
                d: path("M 2,2 L 8,8")
            &:nth-child(2)
                d: path("M 8,2 L 2,8")
#checkbox--filter:not(:checked) ~ * .#{gen.$sidebar}
    &__showFilterSwitch
        & svg > path
            transition: 0.5s ease
            &:nth-child(1)
                d: path("M 2,5 L 5,7")
            &:nth-child(2)
                d: path("M 8,5 L 5,7")