@use "vars.sass" as vars
@use "./index.sv.gen.sass" as gen

@use "../autogrowingTextArea/autogrowingTextArea.module.sass" as autogrowingTextArea


@mixin main
##{gen.$terminalConsoleContainerId}
    display: block
    width: 100%
    box-sizing: border-box
    position: relative
    min-height: 300px
    background-color: #10151d
    line-height: vars.$consoleTextHeight
    font-size: 16px
    @media (max-width: vars.$smallMax)
        font-size: 14px
    font-weight: 300
    padding-left: 4px
    padding-right: 4px
    font-weight: 300
    cursor: text
    // user-select: none
    // &:active
    //     outline: 2px solid yellow
    // &:focus
    //     outline: 2px solid green
    // &:focus-visible
    //     outline: 2px solid pink
    // &:focus-within
    //     outline: 2px solid red
        
.#{gen.$terminalConsole} // result container
    box-sizing: border-box
    width: 100%
    height: inherit
    position: relative
    top: 0px
    & p
        display: block
        width: 100%
        white-space: break-spaces
        word-wrap: break-word
        text-align: justify
        &:active
            outline: 2px solid green
    & p:not(.#{gen.$terminalConsole}_multiline):before
        color: #96880c
        content: "console:~$ "
        font-weight: 200
        white-space: pre
    & p.#{gen.$terminalConsole}_multiline


+autogrowingTextArea.main
